@media screen and (max-width: 992px) {
    #page {
        header {
            .main-header-bar-wrap {
                .container {
                    .main-header-bar {
                        .burger-menu-block {
                            .menu-link {
                                .menu-blog {
                                    display: none;
                                }
                            }
                            .burger-icon {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .site-content {
            #primary {
                .site-main {
                    .electricy-man-block {
                        .electricy-content-blocks {
                            padding: 20px;
                            .electricy-container {
                                flex-direction: column;
                                justify-content: space-evenly;
                                .electricy-text-block {
                                    display: block;
                                    width: 100%;
                                    height: 30%;
                                    padding: 0 20px;
                                    h1 {
                                        font-size: 36px;
                                    }
                                }
                                .electricy-image-block {
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    img {
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                    .story-about-block {
                        .story-container {
                            .story-side-blocks {
                                flex-direction: column;
                                align-items: center;
                                .story-image-block {
                                    width: 100%;
                                }
                                .story-text-block {
                                    width: 100%;
                                    .text-wrap {
                                        padding: 0 50px 50px 50px;
                                    }
                                }
                            }
                        }
                    }
                    .services-about-block {
                        .services-row-blocks {
                            .left-service-block {
                                width: 100%;
                                .service-info {
                                    padding: 20px 5px 5px 5px;
                                    .service-title {
                                        .title-wrap {
                                            h5 {
                                                font-size: 16px;
                                            }
                                        }
                                    }

                                    .service-subtitle {
                                        .subtitle-wrap {
                                            padding: 0 5px;
                                            p {
                                                font-size: 11px;
                                            }
                                        }
                                    }
                                }
                            }
                            .center-service-block {
                                width: 100%;
                                .service-info {
                                    padding: 20px 5px 5px 5px;
                                    .service-title {
                                        .title-wrap {
                                            h5 {
                                                font-size: 16px;
                                            }
                                        }
                                    }

                                    .service-subtitle {
                                        .subtitle-wrap {
                                            padding: 0 5px;
                                            p {
                                                font-size: 11px;
                                            }
                                        }
                                    }
                                }
                            }
                            .right-service-block {
                                width: 100%;
                                .service-info {
                                    padding: 20px 5px 5px 5px;
                                    .service-title {
                                        .title-wrap {
                                            h5 {
                                                font-size: 16px;
                                            }
                                        }
                                    }

                                    .service-subtitle {
                                        .subtitle-wrap {
                                            padding: 0 5px;
                                            p {
                                                font-size: 11px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .company-development-block {
                        .company-development-wrap {
                            .development-innovations-blocks {
                                grid-template-columns: 1fr 1fr;
                                grid-template-rows: auto;
                                .product-about-block {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    .company-features-block {
                        .company-features-wrap {
                            .features-row {
                                grid-template-columns: 1fr;
                            }
                        }
                    }
                    footer {
                        .form-contact-block {
                            .form-contact-wrap {
                                .form-block {
                                    padding: 20px;
                                    .form-row {
                                        flex-direction: column;
                                        .contacts-block {
                                            width: 100%;
                                        }
                                        .inputs-block {
                                            width: 100%;
                                            .inputs-wrap {
                                                padding: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    #page {
        .site-content {
            #primary {
                .site-main {
                    .electricy-man-block {
                        .electricy-content-blocks {
                            .electricy-container {
                                justify-content: space-between;

                                .electricy-image-block {
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .services-about-block {
                        .services-row-blocks {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
