#page {
    width: 100%;
    position: relative;
    header {
        width: 100%;
        background-color: #ffffff;
        .menu-block {
            background-color: #f9f9f9;
            width: 100%;
            visibility: hidden;
            height: 0;
            opacity: 0;
            transform: rotateX(90deg);
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            -ms-transform: rotateX(90deg);
            -o-transform: rotateX(90deg);
            transform-origin: top;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            .menu-link
{
                height: 100%;
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 0 20px;
                    color: #1c93e3;
                }
            }
        }
        .main-header-bar-wrap {
            width: 100%;
            .container {
                width: 100%;
                display: flex;
                justify-content: center;
                .main-header-bar {
                    max-width: 1240px;
                    padding: 1em 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .logo-image-block {
                        width: auto;
                        
                    }
                    .burger-menu-block {
                        .menu-link {
                            .menu-blog {
                                display: block;
                                font-size: 15px;
                                font-family: "Montserrat", sans-serif;
                                color: #1c93e3;
                            }
                        }
                        .close-icon {
                            color: #1c93e3;
                            display: block;
                        }
                        .burger-icon{
                            
                            color: #1c93e3;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
