@media screen and (max-width: 992px) {
    #page {
        header {
            .main-header-bar-wrap {
                .container {
                    .main-header-bar {
                        .burger-menu-block {
                            .menu-link {
                                .menu-blog {
                                    display: none;
                                }
                            }
                            .burger-icon {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .site-content {
            #primary {
                .site-main {
                    .blog-title {
                        padding: 3.34em 2.4em;
                    }
                    .blogs-block {
                        .blogs-wrap {
                            .post-block {
                                .post-wrap {
                                    padding: 3.34em 2.4em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .form-contact-block {
            .form-contact-wrap {
                .form-block {
                    padding: 20px;
                    .form-row {
                        flex-direction: column;
                        .contacts-block {
                            width: 100%;
                        }
                        .inputs-block {
                            width: 100%;
                            .inputs-wrap {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
